<html>
<%include partials/head %>
<body>
    <ul class="list-group">
        <li class="list-group-item">
            <% include partials/header %>

<% if(showCompressionResults){ %>
    <%if(compressed){%>
        <ul class="list-group">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table-success">
                            <th scope="col">
                                <i class="far fa-smile"></i>
                            </th>
                            <th scope="col">
                                Files are compressed successfully 
                            </th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% compressionResults.forEach((result) => { %>
                            <tr>
                                <td>
                                    <h6>
                                        <i class="fas fa-file-alt"></i>
                                    </h6>
                                </td>
                                <td>
                                    <%= result.filename %>
                                </td>
                                <% if(result.success) { %>
                                <td>
                                    <span class="badge badge-dark mr-sm-2">
                                        <%=result.percentageCompression%> &percnt; compressed
                                    </span>
                                </td>
                                <td>
                                    <span class="badge badge-success mr-sm-2">
                                        <span class="badge badge-dark mr-sm-2">
                                            <%=result.inFileSize%> B
                                        </span>
                                        <a class="mr-sm-2">
                                            <i class="fas fa-long-arrow-alt-right"></i>
                                        </a>
                                        <span class="badge badge-dark">
                                            <%=result.outFileSize%> B
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span class="badge badge-success" title="Successful">
                                        <i class="fas fa-check-circle"></i>
                                    </span>
                                </td>
                                <% } else { %>
                                <td></td>
                                <td></td>
                                <td>
                                    <span class="badge badge-danger" title="Failed">
                                        <i class="far fa-times-circle"></i>
                                    </span>
                                </td>
                                <% } %>
                                <% }) %>
                            </tr>
                    </tbody>
                </table>
            </div>
        </ul>
        <%}else{%>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">
                    <span class="badge badge-danger">
                        <h4>
                            Unexpected error during compression
                            <i class="far fa-sad-tear"></i>
                        </h4>
                    </span>
                </li>
            </ul>
            <%}%>
        <%}%>
        <br>
        <% if(showConversionResults){ %>
            <%if(converted){%>
                <ul class="list-group">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="table-success">
                                    <th scope="col">
                                        <i class="far fa-smile"></i>
                                    </th>
                                    <th scope="col">
                                        Files are converted successfully 
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% conversionResults.forEach((result) => { %>
                                <tr>
                                    <td>
                                        <h6>
                                            <i class="fas fa-file-pdf"></i>
                                        </h6>
                                    </td>
                                    <td>
                                        <%= result.filename %>
                                    </td>
                                    <td>
                                        <% if(result.success) { %>
                                        <span class="badge badge-success" title="Successful">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                                        <% } else { %>
                                        <span class="badge badge-danger" title="Failed">
                                            <i class="far fa-times-circle"></i>
                                        </span>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </ul>
                            <%}else{%>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <span class="badge badge-danger">
                            <h4>
                                Unexpected error during conversion
                                <i class="far fa-sad-tear"></i>
                            </h4>
                        </span>
                    </li>
                </ul>
            <%}%>
        <%}%>
            <ul class="list-group">
                <li class="list-group-item">
                    <form method="post" action="/download">
                        <div class="form-group">
                            <input class="form-control" type="text" name="id" value="<% if(id){ %><%=id %><% }else{ %><%='DummyID' %><% } %>" hidden>
                            <input class="form-control" type="text" name="type" value="<%if(converted){%>converted<%}else if(compressed){%>compressed<%}%>"
                                hidden>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-success" data-toggle="tooltip" data-placement="top" title="Click on this to download the converted files"
                                onClick="this.value='Downloading . . .'; this.form.submit();" type="submit">
                                Download
                                <span class="badge badge-success">
                                    <i class="fa fa-download"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="list-group-item">
                    <form method="get" action="/">
                        <div class="form-group">
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Navigate to home page" type="submit">Go to
                                <i class="fa fa-home"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
    <% include partials/footer %>
</body>

</html>